html, body { margin: 0; padding: 0; }
body {
	color:#555555;
	font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	line-height:22px;
}
a {
	color:#21759B;
	text-decoration: none;
}
a:hover {
	color:#D54E21;
}
#header {
	background-color: #464646;
	height: 88px;
	text-align: center;
}
#header h1 {
	color: #FFFFFF;
	bottom: -88px;
	font-size: 60px;
	line-height: 60px;
	position: absolute;
	left: 0px;
	margin: 0; padding: 0;
}
#user_panel {
	color: #999999;
	font-size: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#topnav {
	bottom: -88px;
	position: absolute;
	right: 0px;
}
#topnav a {
	color: #999999;
    margin-left: 1em;
    float: left;
    padding: 9px 4px 5px 4px;
    text-decoration: none;
}
#topnav a:hover {
	color: #FFFFFF;
}
#topnav a.current {
	color: #555555;
	background-color: #E4F2FD;
    padding: 9px 8px 5px 8px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
a#download {
	color: #FFFFFF;
	background-color: #D54E21;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
}
a#download:hover {
	color: #FFAC90;
}
#subhead {
	background-color: #E4F2FD;
	border-bottom: 1px solid #C6D9E9;
	height: auto !important;
	height: 20px;
	min-height: 20px;
	padding: 10px;
	overflow: auto;
	margin-bottom: 1em;
}
#subhead h2 {
	color: #555555;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 36px;
	font-style: italic;
	line-height: 1em;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	padding-top: 10px;
	text-shadow:0 1px 0 #E4F2FD;
}
#subhead p {
	line-height: 22px;
	font-size: 13px;
}
#subhead p.intro {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 17px;
	line-height: 1.5em;
}
#footer {
	clear: both;
	border-top: 1px solid #CCCCCC;
	margin-top: 1em;
}
.wrap {
	width: 800px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

h3.date {
	color: #666666;
	font-size: 10px;
	margin: 8px 0 0 0;
	padding: 0;
}
h2.title {
	font-size: 18px;
	padding: 10px 0;
	margin: 0;
}
.meta {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
}
.body {
	margin-bottom: 14px;
	font-size: 12px;
}
.body p {
	padding-bottom: 6px;
}
.feedback {
	text-align: right;
	border-bottom: 1px solid #CCCCCC;
	font-size: 10px;
	margin-top: -10px;
	margin-bottom: 30px;
}
textarea {
	width: 99%;
	height: 200px;
}
ul.ops, .pager {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pager {
	float: right;
	margin: 4px 0;
}
ul.ops li, .pager li {
	float: left;
	margin: 4px;
	font-size: 10px;
}
.pager li a {
	display: block;
	line-height: 16px;
	text-align: center;
	width: 16px;
	height: 16px;
}
.button {
	font-size: 10px;
	display: block;
	float: left;
	padding: 0.4em 1em;
	margin: 4px;
}
.icon-button {
	font-size: 10px;
	display: block;
	float: left;
	position: relative;
	padding: 0.4em 1em 0.4em 20px;
	margin: 4px;
}
.icon-button span {
	left: 0.2em;
	margin: -10px 5px 0 0;
	position:absolute;
	top: 50%;
}

.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

a.fg-button { float:left; }

/* remove extra button width in IE */
button.fg-button { width:auto; overflow:visible; }

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; } /* solo icon buttons must have block properties for the text-indent to work */

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button,
.fg-buttonset-multi .fg-button { margin-right: -1px;}

.fg-toolbar { padding: .5em; margin: 0; }
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em; }